@import '../../variables';

.profil {
    display: flex;

    &__main {
        height: 100%;
        padding: 70px 90px 90px 110px;

        & .title {
            display: flex;

            & h1, h2 {
                font-size: 48px;
                font-weight: 500;
            }

            & h2 {
                color: $primaryColor;
                margin-left: 12px;
            }
        }

        > p {
            margin-top: 40px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}


.board {
    display: flex;
    gap: 30px;
    margin-top: 80px;
    &__graphics {
        width: 835px;

        &__square_graphics {
            display: flex;
            gap: 30px;
        }
    }

    &__energies {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}