@import '../../variables';

.profil {
    display: flex;

    &__main {
        height: 100%;
        padding: 60px 90px 0px 100px;

        &__title {
            display: flex;

            & h1,
            h2 {
                font-size: 48px;
                font-weight: 500;
            }

            & h2 {
                color: $primaryColor;
                margin-left: 12px;
            }
        }

        > p {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.charts {
    display: flex;
    margin-top: 70px;
    gap: 30px;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.square_charts {
    display: flex;
    gap: 30px;
}
